h1 {

    background-color: ;
    color: rgb(219, 81, 189);
    text-align: left;
    padding: 2px;
    font-size: 25px;
    border-bottom: 3px solid rgb(51, 255, 0);
    display: inline-block;
    border-bottom: 3px solid rgb(51,255,0);
    padding-bottom: 5px;
    margin-left:25px;
}
    
    
    /*letter-spacing: 2px;(Word ke bich me space dena )

}*/
{

}
    